.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  background-image: url(../../../images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  min-height: 740px;
  position: relative;
  max-width: 1184px;
}

.cover__link:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #2A2C2F;
  position: absolute;
  opacity: 0.3;
  transition: 0.2s;
}

.cover__link:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1100px) {
  .cover__link {
    min-height: 640px;
    max-width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 540px) {
  .cover__link {
    min-height: 200px;
  }
}