.header__logo {
  background-image: url(../../../images/header-logo.svg);
  color: white;
  width: 176px;
  height: 52px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 48px;
}

@media  screen and (max-width: 960px) {
  .header__logo {
    margin-left: 24px;
  }
}

@media  screen and (max-width: 540px) {
  .header__logo {
    margin-left: 16px;
    width: 142px;
    height: 42px;
  }
}