.lead__figure {
  margin-top: 56px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

@media screen and (max-width: 960px) {
  .lead__figure {
    max-width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .lead__figure {
    margin-top: 40px;
  }
}